<form action="/payment/results">
<div>
  <label for="apr_id">APR</label>
  <input id="apr_id" type="text" name="user_apr">
</div>

<div>
  <label for="year_id">Number of years</label>
  <input id="year_id" type="text" name="user_years">
</div>

<div>
  <label for="pv_id">Principal</label>
  <input id="pv_id" type="text" name="user_pv">
</div>

<button>Calculate monthly payment</button>
