<form action="/square_root/results">
  <div>
    <label for="sqrt_id">Enter a number</label>
    <input id="sqrt_id" type=text name="number">
  </div>

  <button>Calculate square root</button>
</form>
